.full{
    display: flex;
    width: 1000px;
height: 1200px;
    background-color: #9f9f9f;
margin: 0 auto;
    flex-wrap: wrap;
}
#header{
    width:  100%;
    height: 100px;
}
.box {

    height: 1000px;
    width: 1000px;
    display: flex;
}
.one{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

}
.post{

    width: 500px;
    height: 500px;
}
#menu{
    height: 1000px;
    width: 500PX;
}
#footer{
    width: 100%;
    height: 100px;
}